<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.felixtioh.phonegap.plugins.wifi"
      version="0.1.0">
    <name>WifiInfoPlugin</name>
    <description>Wifi Info Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,wifi, mac</keywords>

    <js-module src="www/wifi_info.js" name="WifiInfoPlugin">
        <clobbers target="window.wifi_info" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WifiInfoPlugin">
                <param name="android-package" value="org.felixtioh.phonegap.plugins.wifi.WifiInfoPlugin"/>
            </feature>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>

        <source-file src="src/android/WifiInfoPlugin.java" target-dir="src/org/felixtioh/phonegap/plugins/wifi" />      
     </platform>          
</plugin>